$transparentBlack: rgba(0, 0, 0, 0.8);

@mixin landingImage() {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: all ease-in-out;
    -moz-transition: all ease-in-out;
    -webkit-transition: all ease-in-out;
    -o-transition: all ease-in-out;
}

html {

    scroll-behavior: smooth;

}

body {
    background-color: white;
    margin: 0;
    padding: 0;
}

// Landing Styles

.navbarColor{
    background-color: $transparentBlack;

    .navColor {
        color: #ff8800;
    }
}

.img {
    background-image: url(../img/pika.jpg);
    @include landingImage();
}


.jumbotron-styles {
    width: 1000px;
    margin-top: 70px;
    background-color: $transparentBlack;
    position: relative; 
    left: 15%;

    .jumboText {
        text-align: center;
    }

    .jumboButton {
        margin-top: 20px;
        margin-bottom: 25px;
        margin-left: 340px;


    }
}

.margin-down {

    margin-bottom: 45px;

    .circle-div {

    width: 70%;

    .circle-facts {
    margin-top: 80px;
}
}

.top-margin {
    margin-top: 20px;
}

.facts {
    width: 70%;
}

}



footer {
    background-color: black;
    height: 20vh;

    .source {
        margin-top: 7vh;
        text-align: center;
        color: #ff8800;
        

        a {
            color: #ff8800;
        }

        a:hover {
            color: #ad5c00;
        }
    }
}
